* {
    background-color: rgb(69, 49, 73);
    height: 100%;
    width: 100%;
}

#calc-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#calc-body {
    padding: 1rem;
    margin-top: 5rem;
    border: 10px solid black;
    border-radius: 30px;
    background-color: lightblue;
    width: 75%;
    max-width: 60rem;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display {
    padding: 1rem;
    border-radius: 15px;
    border: 7px solid black;
    margin-top: 3rem;
    height: 10rem;
    width: 90%;
    background-color: rgb(160, 124, 195);
}

#buttons-container {
    padding: 1rem;
    border-radius: 15px;
    border: 7px solid black;
    margin-top: 2rem;
    display: flex;
    height: 70%;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.button {
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    border: 2px solid black;
    background-color: #5fbdec;
    width: 10rem;
    height: 10rem;
    /* width: 6%; */
    /* height: 6%; */
    /* display: flex; */
}